::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track{
	background: hsl(0, 100%, 0%);
	border-radius: 6px;
	margin-block: 2px;
}

::-webkit-scrollbar-thumb{
	background: hsl(0, 100%, 100%);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
	background: #000000;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: consolas;
	background-color: #666666;
}

.header{
	border: 2px solid #ffffff;
	border-left: none;
	border-right: none;
}

.page{
	background: url('../slike/pozadina.jpg');
	background-size: cover;
}

.kolona{
	width: 1000px;
	margin: 0px auto;
}

.page .kolona{
	height: 100vh;
}

#main-manu{
	display: flex;
}

#main-manu a {
	flex-grow: 1;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	display: block;
	margin: 10px 0;
	text-decoration: none;
	color: #000000;
	transition: 400ms;
}

#main-manu a:hover,
#main-manu a.active{
	background: #000000;
	color: #ffffff;
	border-radius: 6px;
}

#pocetna{
	text-align: center;
	color: #ffffff;
	background-attachment: fixed;
}

#pocetna h1{
	font-size: 38pt;
	margin-top: 0px;
	padding-top: 30px;
}

#prvi-box{
	background-color: #666666df;
	border: 2px solid #ffffff;
	border-radius: 9px;
	font-size: 16pt;
	padding: 20px;
}
