::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track{
	background: hsl(0, 100%, 0%);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb{
	background: hsl(0, 100%, 100%);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
	background: #000000;
}

body{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: consolas;
    background-color: #0c0346;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-image: radial-gradient(#7a09ca, #bfd308, #ba0707, #17b60f);
}

.okvir div{
    border: 2px solid white;
    border-radius: 10%;
}

h3{
    padding: 5pxpx;
    text-align: center;
}

.okvir{
    margin-bottom: 100px;
    width: 900px;
    height: 460px;

    display: grid;
    align-content: space-between;
    justify-content: space-between;

    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 9%;
}

h4 {
    margin: 0px;
}

p {
    padding-top: 0px;
    margin-top: 0px;
}