::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track{
	background: hsl(0, 100%, 0%);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb{
	background: hsl(0, 100%, 100%);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
	background: #000000;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: consolas;
    background-image: radial-gradient(#11dc65,#32dfc8);
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#nulti_d{
    display: flex;
    justify-content: center;
}

#nulti_d #prim,
#nulti_d #sek,
#nulti_d #terc {
    border: 3px solid white;
    border-radius: 9px;
    padding: 20px;
    text-align: center;
    width: 300px;
    min-height: 200vh;
}

#sek{
    margin-left: 90px;
    margin-right: 90px;
}







